body {
    background-image: url("./../images/funky-lines.png");
}

p {
    margin: 20px;
}

.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.play-button-one, .play-button-two {
    font-size: 4em; 
    background-color: transparent;
}

.chat-box {
    background-color: white;
    border: 1px solid black;
    width: auto;
    height: 300px;
}

.initiate {
    color: white;
    background-color: rgb(37, 37, 37);
}
.initiate:hover {
    color: rgb(199, 199, 199);
}

#smack-talk {
    width: 50%;
}

#smack-talk-form {
    margin-top: 5px;
}

#chats {
    max-height: 300px;
    overflow: auto;
}