body {
    background-image: url("./../images/funky-lines.png");
}

.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.play-button-one, .play-button-two {
    font-size: 4em; 
    background-color: transparent;
}

.chat-box {
    background-color: white;
    width: auto;
    height: 300px;
}

#smack-talk {
    width: auto;
}

#chats {
    max-height: 300px;
    overflow: auto;
}